<script src="script.js" defer></script>

<ul>
  <li data-tab-target="#home">Home</li>
  <li data-tab-target="#resorces">Resorces</li>
  <li data-tab-target="#thehomedepot">The Home Depot</li>
  <li data-tab-target="#jobsatdell">Jobs at Dell</li>
</ul>
<div class="tab-content">
  <div id="home">
    <h1>Home</h1>
    <p>This is the home</p>
  </div>
  <div id="resorces">
    <h1>Resorces</h1>
    <p>welcome to resources</p>
  </div>
  <div id="thehomedepot">
    <h1>The Home Depot</h1>
    <p>Learn more about The Home Depot</p>
  </div>
  <div id="jobsatdell">
    <h1>Jobs at Dell</h1>
    <p>learn about jobs at Dell</p>
  </div>
</div>
