<script src="script.js" defer></script>
<link href="styles.css" rel="stylesheet">


<button class="tablink" onclick="openPage('Home', this, 'red')">Home</button>
<button class="tablink" onclick="openPage('Resorces', this, 'green')" id="defaultOpen">Resorces</button>
<button class="tablink" onclick="openPage('The Home Depot', this, 'blue')">The Home Depot</button>
<button class="tablink" onclick="openPage('Jobs at Dell', this, 'orange')">Jobs at Dell</button>
<button style = "background-color:grey; border-color:blue; color:white"Button
        Text> I hate norma </button>


<!--
<ul>
  <li data-tab-target="#home">Home</li>
  <li data-tab-target="#resorces">Resorces</li>
  <li data-tab-target="#thehomedepot">The Home Depot</li>
  <li data-tab-target="#jobsatdell">Jobs at Dell</li>
</ul>
<div class="tab-content">
  <div id="home" data-tab-content class="active">
    <h1>Home</h1>
    <p>This is the home</p>
  </div>
  <div id="resorces" data-tab-content>
    <h1>Resorces</h1>
    <p>welcome to resources</p>
  </div>
  <div id="thehomedepot" data-tab-content>
    <h1>The Home Depot</h1>
    <p>Learn more about The Home Depot</p>
  </div>
  <div id="jobsatdell" data-tab-content>
    <h1>Jobs at Dell</h1>
    <p>learn about jobs at Dell</p>
  </div>
</div>

--> 
